@import url("./resets.css");

:root {
  --color-success: #4ca331;
  --color-dark: #000;
  --color-background: #f2f2f2;
  --color: #fff;
  --color-secondary: #000;
  --background-light: #fff;
  --background-color: #288cc9;
  --background-secondary-color: #c4c4c4;
  --color-link: #288cc9;
  --color-border: #ccc;
  --font-family-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

body {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 32rem;
  min-height: 100%;
  line-height: 1.6;
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
}

:focus {
  outline: 0.2rem solid var(--color-dark);
  outline-offset: 0.3rem;
}

.app {
  margin: 3.2rem;
}

@media screen and (min-width: 750px) {
  .app {
    margin: 5.6rem;
  }
}
